 
    body {
        padding: 50px 100px;
        background-image: linear-gradient(to right,violet,rgb(94, 94, 198));
        
        
    
    }
    h1{
        text-align: center;
        color: white;
        font-size: 50px;
        text-decoration: underline;
        text-underline-offset: 15px;
    }
     #container{
        text-align: center;
        /* 
        background-color: rgb(185, 134, 98); */
        background-image: linear-gradient(to right,rgb(195, 136, 94),rgb(209, 209, 151));
        padding: 50px;
        border-radius: 7px;
        /* opacity: 0.7; */
    } 
    .input{ 
display: inline-block;

    }
    .inp{
        padding: 5px 10px;
        margin: 10px;
        font-size: 30px;
        font-weight: bold;
        text-align: center;
        
    }
    label{
        font-size: 30px;
        color: black;
        
    }